
.nav {
    position: absolute;
    right: 0;
    top: 0;
}

.active {
    color: rgb(245, 204, 102);
}

.myAlternate {
    color: rgb(245, 204, 102)
} 

.myAlternate-light {
    background-color: hsl(43, 88%, 98%);
}
.after {
    width: 3rem;
    height: 4px;
    background-color: rgb(245, 204, 102);
}

.myDarker {
    background-color: rgb(20, 20, 20);
}
.myBrad {
    border-radius: 15px;
}
.myDark {
    background-color: rgb(62, 62, 62)
}

.nav {
    ul {
        border-bottom-left-radius: 50px
    }
}
.myTileWidth {
    width: 48%;
    @media screen and (max-width: 768px) {
        width: 100%;
      }
}

.isLink {
    box-shadow: 10px 10px 10px rgb(20, 20, 20);
    :hover {
        box-shadow: 20px, 20px, 20px, 20px rgb(20, 20, 20)
    }
    cursor: pointer;
}
.notLink {
    box-shadow: 10px 10px 10px rgb(20, 20, 20);
}
.sm {
    font-size: 1rem;
    @media screen and (max-width: 768px) {
        font-size: 0.7rem
      }
    
}
.vsm {
    @media screen and (max-width: 768px) {
        font-size: 0.5rem
      }
    
}
.jombimg {
    width: 20rem;
    @media screen and (max-width: 768px) {
        width: 10rem;
    }
}
// import bootstrap
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;

}
body, .App, #root {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

