@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --font_light: "Monalisa_Light";
  --font_normal: "Monalisa_Regular";
  --font_bold: "Monalisa_Bold";
  --button-background: #fafafa;
  --button-border: 1px solid #eaeaea;
  --button-background-hover: #f6f6f6;
  --button-border-hover: #d9d9d9;
  --hover-transition: 0.35s;
  --bold: 0 0 1px hsl(0, 0%, 27%);
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

html::selection {
  background: rgba(0,50,228,.3);
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  margin: 0;
  padding: 0;
}

.hr {
  position: relative;
  height: 80px;
  margin: 1rem 0;
}

/* nav bar */
header {
  top: 0;
  position: fixed;
  left:0;
  right: 0;
  backdrop-filter: blur(20px);
  z-index: 100;
  background-color: hsla(0, 0%, 100%, 0.8);
}

.progress {
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, red, blue);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--button-border-hover);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 0.3rem;
  margin-right: 2rem;
}


nav a {
  text-decoration: none;
  color: #777;
  padding: 0.5rem 1.3rem;
  border-radius: 3px;
}
nav a:hover, nav a:focus {
  background-color: var(--button-background-hover);
  color: hsl(0, 0%, 27%);
  text-shadow: var(--bold);
  outline: none;
}

.active {
  color: hsl(0, 0%, 47%);
  text-shadow: var(--bold);
  background-color: var(--button-background);
}

/*Home Page*/


.home {
  margin-top: 4rem;
  padding: 4rem 15rem;
}

.big-header {
  font-size: 3.5rem;
  font-weight: 500;
  color: hsl(0, 0%, 17%);
}

.content {
  word-spacing: 0.1rem;
  margin-bottom: 2.5rem;
  line-height: 2rem;
}

 .links {
  border-bottom: 3px solid #d9d9d9;
  transition: 350ms;
  cursor: pointer;
}

.links:hover {
  color: #8f48eb;
  border-bottom-color: #cdbce4;
}

.btn {
  padding: 0.3em 0.8em;
  background-color: var(--button-background);
  border: var(--button-border);
  transition: var(--hover-transition);
  margin-right: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--button-background-hover);
  border-color: var(--button-border-hover)
}

h3 {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.skill {
  display: flex;
  justify-content: space-between;
}

.skill > p {
  margin-bottom: 0.1rem;
}

.skill--type {
  font-weight: 500;
}
.skill--content {
  opacity: 0.7;
}

.round {
  border-radius: 100%;
  padding: 0.5rem 0.8rem ;
}

.pill {
  border-radius: 15px;
}

hr {
  margin: 4rem 0; 
}

/* Projects */

.projects {
  margin-top: 4rem;
  padding: 4rem 15rem;
}

.projects a {
  color: hsl(0, 0%, 27%);
  text-decoration: none;
  padding: 0.3rem 1.4rem;
  text-shadow: var(--bold);
  margin-right: 3rem;
}

.projects--image {
  width: 100%;
  position: relative;
  border-radius: 20px;
  height: 500px;
  margin: 4rem 0;
}

.project--details {
  padding: 0 3rem;
}

h2 {
  letter-spacing: 2px;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.resume {
  margin-top: 4rem;
  padding: 4rem 13rem;
  font-size: 0.9rem;
  color: hsl(0, 0%, 27%);
}

.resume a {
  text-decoration: none;
  color:hsl(0, 0%, 27%)
}

.resume h2 {
  letter-spacing: 1px;
  font-size: 1.8rem;
  
}

.resume h3 {
  letter-spacing: 1px;
  font-size: 1.7rem;
  margin-top: 4rem;
}

h4 {
  letter-spacing: 1px;
}

.resume li {
  word-spacing: 0.2rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.btn-download {
  font-size: 0.7rem;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
}

.center {
  text-align: center;
}

.center a {
  margin: 0 0.5rem;
}

.box {
  background-color: var(--button-background);
  padding: 1.5rem;
  border-radius: 1rem;
  border: var(--button-border);
}

.end {
  text-align: end;
}

/* links page */

.links-page {
  margin-top: 4rem;
  padding: 4rem 13rem;
  text-align: center;
}

.profile-img {
  text-align: center;
}

.links-page img {
  display: block;
}

.links--a {
  display: block;
}
.links-page strong {
  display: block;
  margin-bottom: 1rem;
}

.links--hr {
  font-weight: bolder;
  font-size: small;
  opacity: 0.4;
  margin: 1.5rem 0;
  position: relative;
}

.links--hr::before, .links--hr::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #777;
  width: 5rem;
  top: 50%;
}

.links--hr::before {
  left: calc(50% - 12rem);
}

.links--hr::after {
  right: calc(50% - 12rem);
}

.links--a {
  background-color: var(--button-background);
  transition: var(--hover-transition);
  border: var(--button-border);
  padding: 1rem 1rem;
  border-radius: 2rem;
  width: 15rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.links--a i {
  font-size: smaller;
}


.links--a:hover, .links--a:focus {
  background-color: var(--button-background-hover);
  border: 1px solid var(--button-border-hover);
  /* text-shadow: var(--bold); */
}

.grid-center {
  display: grid;
  place-items: center;
}